$white: 		 rgba(255, 255, 255, 1);
$bg-gray:    rgba(244, 244, 244, 1); 
$blackish:   rgba( 51,  51,  51, 1);

$brand-red:  rgba(210,  24,  38, 1);

$gold:       rgba(164, 144,  94, 1);
$light-gold: rgba(226, 172,  76, 1);

$gray:       rgba(167, 167, 167, 1);
$light-gray: rgba(215, 215, 215, 1);